<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Dog</title>
</head>
<body>

    <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/upload">Upload</a></li>
        </ul>
      </div>

      <div>
        <div>
            <div>
                <h2>Edit a Dog</h2>
                <form action="/edit/<%= dog._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div>
                        <label for="Age">Age</label>
                        <input type="number" id="age" name="age" value="<%= dog.name %>" required>
                    </div>
                    <div>
                        <label for="favoriteFood"> Faviorite Food</label>
                        <input type="text" id="favoriteFood" name="favoriteFood" value="<%= dog.favoriteFood %>" required>
                    </div>
                    <div>
                        <label for="funFact">Fun fact</label>
                        <input type="text" id="funFact" name="funFact"  value="<%= dog.funFact %>" required>
                    </div>
                    <label for="upload">Upload image</label>
                    <input type="file" id="upload" name="upload" required>
                </div>
                <button type="submit">Submitt</button>
                </form>
            </div>
        </div>
      </div>\
    
</body>
</html>